# Unity-generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/
UserSettings/

# VS/IDE files
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs

# Cache & metadata
*.pidb
*.booproj
*.pdb
*.mdb
*.opendb
*.VC.db
sysinfo.txt
*.apk
*.aab
.DS_Store
.plastic/
Assets/Scenes/SampleScene.unity
Assets/Scripts/GameManager.cs
